.container {
    width: 1320px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid red;
}

body {
    font-family: Righteous;
    color: #fff;
    background-color: $bodycolor;
}

a {
    color: $white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}