.header {
    background-color: $brown;
    width: 100%;
    height: 125px;


    &__navigation {
        height: inherit;
        display: flex;
        align-items: center;

        &-list {
            display: flex;
            align-items: center;
            border: 1px solid green;
            column-gap: 48px;
        }

        &-link {
            @include fontmixin(Inter, null,18px, null, null);

            &_active {
                @include fontmixin(Inter, null, 18px, $lightbrown, null);
            }
        }
    }
}